In [43]:
import sqlite3
from sqlite3 import Error
import os
import pandas as pd
import numpy as np
import re

In [44]:
root_path = './'

In [45]:
root_path = './'
files = []
for root, _, file in os.walk(root_path):
    for f in file:
        if (os.path.splitext(f)[1] == ".csv"):
            file_path = os.path.join(root, f)
            activity = os.path.split(root)[-1]
            files.append(file_path)

In [206]:
fn = []
for root, _, file in os.walk(root_path):
    for f in file:
        if (os.path.splitext(f)[1] == ".csv"):
            fn.append(f)

In [207]:
fn

['prevalence-by-mental-and-substance-use-disorder.csv',
 'share-with-mental-and-substance-disorders.csv',
 'prevalence-of-depression-males-vs-females.csv',
 'mental-and-substance-use-as-share-of-disease.csv',
 'share-with-depression.csv',
 'share-with-mental-or-substance-disorders-by-sex.csv',
 'survey.csv',
 'Crude suicide rates.csv',
 'Facilities.csv',
 'Human Resources.csv',
 'Age-standardized suicide rates.csv',
 '2020.csv',
 '2021.csv',
 '2019.csv',
 '2018.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 'Life Expectancy Data.csv']

In [48]:
for i in files:
    data_test = pd.read_csv(i)

In [49]:
Life_Expectancy_Data = pd.read_csv(files[0])
Mental_Health_Suicide_Rates_Age_standardized_suicide_rates = pd.read_csv(files[1])
Mental_Health_Suicide_Rates_Crude_suicide_rates = pd.read_csv(files[2])
Mental_Health_Suicide_Rates_Facilities = pd.read_csv(files[3])
Mental_Health_Suicide_Rates_Human_Resources = pd.read_csv(files[4])
Mental_Health_Dataset_mental_and_substance_use_as_share_of_disease = pd.read_csv(files[5])
Mental_Health_Dataset_prevalence_by_mental_and_substance_use_disorder = pd.read_csv(files[6])
Mental_Health_Dataset_prevalence_of_depression_males_vs_females = pd.read_csv(files[7])
Mental_Health_Dataset_share_with_depression = pd.read_csv(files[8])
Mental_Health_Dataset_share_with_mental_and_substance_disorders = pd.read_csv(files[9])
Mental_Health_Dataset_share_with_mental_or_substance_disorders_by_sex = pd.read_csv(files[10])
Mental_Health_Tech_Survey_survey = pd.read_csv(files[11])
World_Happiness_Report_2015_2021_2015 = pd.read_csv(files[12])
World_Happiness_Report_2015_2021_2016 = pd.read_csv(files[13])
World_Happiness_Report_2015_2021_2017 = pd.read_csv(files[14])
World_Happiness_Report_2015_2021_2018 = pd.read_csv(files[15])
World_Happiness_Report_2015_2021_2019 = pd.read_csv(files[16])
World_Happiness_Report_2015_2021_2020 = pd.read_csv(files[17])
World_Happiness_Report_2015_2021_2021 = pd.read_csv(files[18])

In [208]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    create_connection(r"./test.db")

2.6.0

In [209]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
for i in files:
    casedf = pd.read_csv(i)
    #equal length partition
    casedf_p1 = casedf[:len(casedf)//3]
    casedf_p2 = casedf[len(casedf)//3:len(casedf)//3*2]
    casedf_p3 = casedf[len(casedf)//3*2:len(casedf)]
    
    file_name = i.split('/')[-1]
    file_name = file_name.split('.')[0]
    file_name = file_name.replace(' ','_')
    file_name_p1 = file_name + '_p1'
    file_name_p2 = file_name + '_p2'
    file_name_p3 = file_name + '_p3'
    
#     casedf_p1.to_csv(file_name_p1 + '.csv')
#     casedf_p2.to_csv(file_name_p2 + '.csv')
#     casedf_p3.to_csv(file_name_p3 + '.csv')
    
    casedf_p1.to_sql(file_name_p1, conn, if_exists='append', index = False)
    cur.close()
    casedf_p2.to_sql(file_name_p2, conn, if_exists='append', index = False)
    cur.close()
    casedf_p3.to_sql(file_name_p3, conn, if_exists='append', index = False)
    cur.close()

In [141]:
pd.read_sql('''SELECT * FROM Life_Expectancy_Data_p1''', conn)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,Gambia,2003,Developing,57.0,297.0,3,2.47,0.000000,94.0,119,...,87.0,4.22,87.0,2.7,NaN,NaN,9.6,9.6,0.395,7.3
975,Gambia,2002,Developing,56.6,298.0,3,2.08,0.000000,92.0,32,...,86.0,3.75,87.0,2.5,NaN,NaN,9.8,9.8,0.392,7.0
976,Gambia,2001,Developing,56.3,3.0,3,2.25,0.000000,91.0,99,...,85.0,3.71,87.0,2.3,NaN,NaN,1.0,1.0,0.384,6.8
977,Gambia,2000,Developing,55.9,33.0,3,2.18,0.000000,91.0,336,...,84.0,3.61,8.0,2.0,NaN,NaN,1.2,1.2,0.377,6.5
978,Georgia,2015,Developing,74.4,129.0,1,NaN,0.000000,94.0,431,...,91.0,NaN,94.0,0.1,3764.649120,37171.0,2.7,2.8,0.768,13.9

In [71]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute('''SELECT name from sqlite_master where type= "table"''').fetchall()
cur.close()

In [167]:
name = pd.read_sql('''SELECT name from sqlite_master where type= "table"''', conn)
name

                                                 name
0   prevalence-by-mental-and-substance-use-disorde...
1   prevalence-by-mental-and-substance-use-disorde...
2   prevalence-by-mental-and-substance-use-disorde...
3        share-with-mental-and-substance-disorders_p1
4        share-with-mental-and-substance-disorders_p2
5        share-with-mental-and-substance-disorders_p3
6        prevalence-of-depression-males-vs-females_p1
7        prevalence-of-depression-males-vs-females_p2
8        prevalence-of-depression-males-vs-females_p3
9     mental-and-substance-use-as-share-of-disease_p1
10    mental-and-substance-use-as-share-of-disease_p2
11    mental-and-substance-use-as-share-of-disease_p3
12                           share-with-depression_p1
13                           share-with-depression_p2
14                           share-with-depression_p3
15  share-with-mental-or-substance-disorders-by-se...
16  share-with-mental-or-substance-disorders-by-se...
17  share-with-mental-or-substance-disorders-by-se...
18                                          survey_p1
19                                          survey_p2
20                                          survey_p3
21                             Crude_suicide_rates_p1
22                             Crude_suicide_rates_p2
23                             Crude_suicide_rates_p3
24                                      Facilities_p1
25                                      Facilities_p2
26                                      Facilities_p3
27                                 Human_Resources_p1
28                                 Human_Resources_p2
29                                 Human_Resources_p3
30                  Age-standardized_suicide_rates_p1
31                  Age-standardized_suicide_rates_p2
32                  Age-standardized_suicide_rates_p3
33                                            2020_p1
34                                            2020_p2
35                                            2020_p3
36                                            2021_p1
37                                            2021_p2
38                                            2021_p3
39                                            2019_p1
40                                            2019_p2
41                                            2019_p3
42                                            2018_p1
43                                            2018_p2
44                                            2018_p3
45                                            2015_p1
46                                            2015_p2
47                                            2015_p3
48                                            2016_p1
49                                            2016_p2
50                                            2016_p3
51                                            2017_p1
52                                            2017_p2
53                                            2017_p3
54                            Life_Expectancy_Data_p1
55                            Life_Expectancy_Data_p2
56                            Life_Expectancy_Data_p3
57                                           namenode

In [210]:
def main():

    # create a database connection
    conn = sqlite3.connect('./test.db')
    sql_create_namenode_table = """ CREATE TABLE IF NOT EXISTS namenode (
                                        id integer PRIMARY KEY,
                                        location NOT NULL,
                                        name NOT NULL,
                                        type text NOT NULL
                                    ); """
    # create tables
    if conn is not None:
        # create projects table
        create_table(conn, sql_create_namenode_table)
if __name__ == '__main__':
    main()

In [211]:
j = 1
for i in fn:
    file_id = j
    file_location = './'
    file_type = 'FILE'
    conn = sqlite3.connect('./test.db')
    cur = conn.cursor()
    sql = ''' INSERT INTO namenode(id,location,name,type)
              VALUES(?,?,?,?) '''
    namenode_info = (file_id,file_location,i,file_type)
    cur.execute(sql, namenode_info)
    conn.commit()
    cur.close()
    j = j + 1

In [203]:
file_name

'Life_Expectancy_Data'

In [212]:
pd.read_sql('''SELECT * from namenode''', conn)

    id location                                               name  type
0    1       ./  prevalence-by-mental-and-substance-use-disorde...  FILE
1    2       ./      share-with-mental-and-substance-disorders.csv  FILE
2    3       ./      prevalence-of-depression-males-vs-females.csv  FILE
3    4       ./   mental-and-substance-use-as-share-of-disease.csv  FILE
4    5       ./                          share-with-depression.csv  FILE
5    6       ./  share-with-mental-or-substance-disorders-by-se...  FILE
6    7       ./                                         survey.csv  FILE
7    8       ./                            Crude suicide rates.csv  FILE
8    9       ./                                     Facilities.csv  FILE
9   10       ./                                Human Resources.csv  FILE
10  11       ./                 Age-standardized suicide rates.csv  FILE
11  12       ./                                           2020.csv  FILE
12  13       ./                                           2021.csv  FILE
13  14       ./                                           2019.csv  FILE
14  15       ./                                           2018.csv  FILE
15  16       ./                                           2015.csv  FILE
16  17       ./                                           2016.csv  FILE
17  18       ./                                           2017.csv  FILE
18  19       ./                           Life Expectancy Data.csv  FILE