In [43]:
import sqlite3
from sqlite3 import Error
import os
import pandas as pd
import numpy as np
import re

In [44]:
root_path = './'

In [45]:
root_path = './'
files = []
for root, _, file in os.walk(root_path):
    for f in file:
        if (os.path.splitext(f)[1] == ".csv"):
            file_path = os.path.join(root, f)
            activity = os.path.split(root)[-1]
            files.append(file_path)

In [46]:
for root, _, file in os.walk(root_path):
    for f in file:
        if (os.path.splitext(f)[1] == ".csv"):
            print(f)

prevalence-by-mental-and-substance-use-disorder.csv
share-with-mental-and-substance-disorders.csv
prevalence-of-depression-males-vs-females.csv
mental-and-substance-use-as-share-of-disease.csv
share-with-depression.csv
share-with-mental-or-substance-disorders-by-sex.csv
survey.csv
Crude suicide rates.csv
Facilities.csv
Human Resources.csv
Age-standardized suicide rates.csv
2020.csv
2021.csv
2019.csv
2018.csv
2015.csv
2016.csv
2017.csv
Life Expectancy Data.csv

In [48]:
for i in files:
    data_test = pd.read_csv(i)

In [83]:
files

['./Mental Health Dataset/prevalence-by-mental-and-substance-use-disorder.csv',
 './Mental Health Dataset/share-with-mental-and-substance-disorders.csv',
 './Mental Health Dataset/prevalence-of-depression-males-vs-females.csv',
 './Mental Health Dataset/mental-and-substance-use-as-share-of-disease.csv',
 './Mental Health Dataset/share-with-depression.csv',
 './Mental Health Dataset/share-with-mental-or-substance-disorders-by-sex.csv',
 './Mental Health in Tech Survey/survey.csv',
 './Mental Health and Suicide Rates/Crude suicide rates.csv',
 './Mental Health and Suicide Rates/Facilities.csv',
 './Mental Health and Suicide Rates/Human Resources.csv',
 './Mental Health and Suicide Rates/Age-standardized suicide rates.csv',
 './World Happiness Report 2015-2021/2020.csv',
 './World Happiness Report 2015-2021/2021.csv',
 './World Happiness Report 2015-2021/2019.csv',
 './World Happiness Report 2015-2021/2018.csv',
 './World Happiness Report 2015-2021/2015.csv',
 './World Happiness Report 2015-2021/2016.csv',
 './World Happiness Report 2015-2021/2017.csv',
 './Life Expectancy (WHO)/Life Expectancy Data.csv']

In [49]:
Life_Expectancy_Data = pd.read_csv(files[0])
Mental_Health_Suicide_Rates_Age_standardized_suicide_rates = pd.read_csv(files[1])
Mental_Health_Suicide_Rates_Crude_suicide_rates = pd.read_csv(files[2])
Mental_Health_Suicide_Rates_Facilities = pd.read_csv(files[3])
Mental_Health_Suicide_Rates_Human_Resources = pd.read_csv(files[4])
Mental_Health_Dataset_mental_and_substance_use_as_share_of_disease = pd.read_csv(files[5])
Mental_Health_Dataset_prevalence_by_mental_and_substance_use_disorder = pd.read_csv(files[6])
Mental_Health_Dataset_prevalence_of_depression_males_vs_females = pd.read_csv(files[7])
Mental_Health_Dataset_share_with_depression = pd.read_csv(files[8])
Mental_Health_Dataset_share_with_mental_and_substance_disorders = pd.read_csv(files[9])
Mental_Health_Dataset_share_with_mental_or_substance_disorders_by_sex = pd.read_csv(files[10])
Mental_Health_Tech_Survey_survey = pd.read_csv(files[11])
World_Happiness_Report_2015_2021_2015 = pd.read_csv(files[12])
World_Happiness_Report_2015_2021_2016 = pd.read_csv(files[13])
World_Happiness_Report_2015_2021_2017 = pd.read_csv(files[14])
World_Happiness_Report_2015_2021_2018 = pd.read_csv(files[15])
World_Happiness_Report_2015_2021_2019 = pd.read_csv(files[16])
World_Happiness_Report_2015_2021_2020 = pd.read_csv(files[17])
World_Happiness_Report_2015_2021_2021 = pd.read_csv(files[18])

In [117]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    create_connection(r"./test.db")

2.6.0

In [118]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
for i in files:
    casedf = pd.read_csv(i)
    #equal length partition
    casedf_p1 = casedf[:len(casedf)//3]
    casedf_p2 = casedf[len(casedf)//3:len(casedf)//3*2]
    casedf_p3 = casedf[len(casedf)//3*2:len(casedf)]
    
    file_name = i.split('/')[-1]
    file_name = file_name.split('.')[0]
    file_name_p1 = file_name + '_p1'
    file_name_p2 = file_name + '_p2'
    file_name_p3 = file_name + '_p3'
    
#     casedf_p1.to_csv(file_name_p1 + '.csv')
#     casedf_p2.to_csv(file_name_p2 + '.csv')
#     casedf_p3.to_csv(file_name_p3 + '.csv')
    
    casedf_p1.to_sql(file_name_p1, conn, if_exists='append', index = False)
    cur.close()
    casedf_p2.to_sql(file_name_p2, conn, if_exists='append', index = False)
    cur.close()
    casedf_p3.to_sql(file_name_p3, conn, if_exists='append', index = False)
    cur.close()

In [70]:
pd.read_sql('''SELECT * FROM survey_p2''', conn)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 15:31:40,55,M,United States,ID,No,Yes,Yes,Sometimes,1-5,...,Don't know,Yes,Maybe,No,No,No,No,No,Yes,None
1,2014-08-27 15:32:09,28,male,Germany,None,No,Yes,Yes,Rarely,1-5,...,Very easy,No,No,Yes,Yes,No,No,Yes,No,fwiw I am a co founder of this company and the...
2,2014-08-27 15:32:19,26,M,Uruguay,None,No,No,No,None,26-100,...,Don't know,No,No,Some of them,No,No,Yes,Don't know,No,None
3,2014-08-27 15:32:43,28,Male,New Zealand,None,No,Yes,Yes,Sometimes,6-25,...,Very easy,No,No,Yes,Yes,Yes,Yes,Yes,No,None
4,2014-08-27 15:34:23,32,Male,United Kingdom,None,No,Yes,Yes,Sometimes,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,No,Don't know,No,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,2014-08-28 15:54:35,29,F,United States,CA,No,Yes,Yes,Rarely,100-500,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,None
415,2014-08-28 15:56:47,34,male,United States,TX,No,No,Yes,Sometimes,1-5,...,Don't know,Yes,No,No,No,No,Yes,Don't know,No,None
416,2014-08-28 16:09:35,44,Male,United Kingdom,None,No,Yes,Yes,Sometimes,500-1000,...,Somewhat difficult,Maybe,No,Some of them,Yes,No,Maybe,No,Yes,None
417,2014-08-28 16:17:09,24,female,United States,NY,No,Yes,Yes,Often,6-25,...,Very easy,No,No,Some of them,Yes,No,Yes,No,Yes,None
418,2014-08-28 16:31:00,47,F,United States,PA,No,No,No,None,100-500,...,Very difficult,Yes,Yes,No,No,No,No,No,No,None

In [71]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute('''SELECT name from sqlite_master where type= "table"''').fetchall()
cur.close()

In [104]:
name = pd.read_sql('''SELECT name from sqlite_master where type= "table"''', conn)
name

                                                 name
0   prevalence-by-mental-and-substance-use-disorde...
1   prevalence-by-mental-and-substance-use-disorde...
2   prevalence-by-mental-and-substance-use-disorde...
3        share-with-mental-and-substance-disorders_p1
4        share-with-mental-and-substance-disorders_p2
5        share-with-mental-and-substance-disorders_p3
6        prevalence-of-depression-males-vs-females_p1
7        prevalence-of-depression-males-vs-females_p2
8        prevalence-of-depression-males-vs-females_p3
9     mental-and-substance-use-as-share-of-disease_p1
10    mental-and-substance-use-as-share-of-disease_p2
11    mental-and-substance-use-as-share-of-disease_p3
12                           share-with-depression_p1
13                           share-with-depression_p2
14                           share-with-depression_p3
15  share-with-mental-or-substance-disorders-by-se...
16  share-with-mental-or-substance-disorders-by-se...
17  share-with-mental-or-substance-disorders-by-se...
18                                          survey_p1
19                                          survey_p2
20                                          survey_p3
21                             Crude suicide rates_p1
22                             Crude suicide rates_p2
23                             Crude suicide rates_p3
24                                      Facilities_p1
25                                      Facilities_p2
26                                      Facilities_p3
27                                 Human Resources_p1
28                                 Human Resources_p2
29                                 Human Resources_p3
30                  Age-standardized suicide rates_p1
31                  Age-standardized suicide rates_p2
32                  Age-standardized suicide rates_p3
33                                            2020_p1
34                                            2020_p2
35                                            2020_p3
36                                            2021_p1
37                                            2021_p2
38                                            2021_p3
39                                            2019_p1
40                                            2019_p2
41                                            2019_p3
42                                            2018_p1
43                                            2018_p2
44                                            2018_p3
45                                            2015_p1
46                                            2015_p2
47                                            2015_p3
48                                            2016_p1
49                                            2016_p2
50                                            2016_p3
51                                            2017_p1
52                                            2017_p2
53                                            2017_p3
54                            Life Expectancy Data_p1
55                            Life Expectancy Data_p2
56                            Life Expectancy Data_p3
57                                           namenode

In [119]:
def main():

    # create a database connection
    conn = sqlite3.connect('./test.db')
    sql_create_namenode_table = """ CREATE TABLE IF NOT EXISTS namenode (
                                        id integer PRIMARY KEY,
                                        location NOT NULL,
                                        name text NOT NULL,
                                        type text NOT NULL
                                    ); """
    # create tables
    if conn is not None:
        # create projects table
        create_table(conn, sql_create_namenode_table)
if __name__ == '__main__':
    main()

In [120]:
for i in range(1,57):
    file_id = i
    file_location = './'
    file_name = name['name'][i-1] + '.csv'
    file_type = 'FILE'
    conn = sqlite3.connect('./test.db')
    cur = conn.cursor()
    sql = ''' INSERT INTO namenode(id,location,name,type)
              VALUES(?,?,?,?) '''
    namenode_info = (file_id,file_location,file_name,file_type)
    cur.execute(sql, namenode_info)
    conn.commit()
    cur.close()