In [8]:
import sqlite3
from sqlite3 import Error
import os
import pandas as pd
import numpy as np
import re

In [9]:
root_path = './'

In [10]:
root_path = './'
files = []
for root, _, file in os.walk(root_path):
    for f in file:
        if (os.path.splitext(f)[1] == ".csv"):
            file_path = os.path.join(root, f)
            activity = os.path.split(root)[-1]
            files.append(file_path)

In [33]:
for root, _, file in os.walk(root_path):
    for f in file:
        if (os.path.splitext(f)[1] == ".csv"):
            print(f)

Life Expectancy Data.csv
Age-standardized suicide rates.csv
Crude suicide rates.csv
Facilities.csv
Human Resources.csv
mental-and-substance-use-as-share-of-disease.csv
prevalence-by-mental-and-substance-use-disorder.csv
prevalence-of-depression-males-vs-females.csv
share-with-depression.csv
share-with-mental-and-substance-disorders.csv
share-with-mental-or-substance-disorders-by-sex.csv
survey.csv
2015.csv
2016.csv
2017.csv
2018.csv
2019.csv
2020.csv
2021.csv

In [11]:
files

['./Life Expectancy (WHO)\\Life Expectancy Data.csv',
 './Mental Health and Suicide Rates\\Age-standardized suicide rates.csv',
 './Mental Health and Suicide Rates\\Crude suicide rates.csv',
 './Mental Health and Suicide Rates\\Facilities.csv',
 './Mental Health and Suicide Rates\\Human Resources.csv',
 './Mental Health Dataset\\mental-and-substance-use-as-share-of-disease.csv',
 './Mental Health Dataset\\prevalence-by-mental-and-substance-use-disorder.csv',
 './Mental Health Dataset\\prevalence-of-depression-males-vs-females.csv',
 './Mental Health Dataset\\share-with-depression.csv',
 './Mental Health Dataset\\share-with-mental-and-substance-disorders.csv',
 './Mental Health Dataset\\share-with-mental-or-substance-disorders-by-sex.csv',
 './Mental Health in Tech Survey\\survey.csv',
 './World Happiness Report 2015-2021\\2015.csv',
 './World Happiness Report 2015-2021\\2016.csv',
 './World Happiness Report 2015-2021\\2017.csv',
 './World Happiness Report 2015-2021\\2018.csv',
 './World Happiness Report 2015-2021\\2019.csv',
 './World Happiness Report 2015-2021\\2020.csv',
 './World Happiness Report 2015-2021\\2021.csv']

In [18]:
for i in files:
    data_test = pd.read_csv(i)

In [12]:
Life_Expectancy_Data = pd.read_csv(files[0])
Mental_Health_Suicide_Rates_Age_standardized_suicide_rates = pd.read_csv(files[1])
Mental_Health_Suicide_Rates_Crude_suicide_rates = pd.read_csv(files[2])
Mental_Health_Suicide_Rates_Facilities = pd.read_csv(files[3])
Mental_Health_Suicide_Rates_Human_Resources = pd.read_csv(files[4])
Mental_Health_Dataset_mental_and_substance_use_as_share_of_disease = pd.read_csv(files[5])
Mental_Health_Dataset_prevalence_by_mental_and_substance_use_disorder = pd.read_csv(files[6])
Mental_Health_Dataset_prevalence_of_depression_males_vs_females = pd.read_csv(files[7])
Mental_Health_Dataset_share_with_depression = pd.read_csv(files[8])
Mental_Health_Dataset_share_with_mental_and_substance_disorders = pd.read_csv(files[9])
Mental_Health_Dataset_share_with_mental_or_substance_disorders_by_sex = pd.read_csv(files[10])
Mental_Health_Tech_Survey_survey = pd.read_csv(files[11])
World_Happiness_Report_2015_2021_2015 = pd.read_csv(files[12])
World_Happiness_Report_2015_2021_2016 = pd.read_csv(files[13])
World_Happiness_Report_2015_2021_2017 = pd.read_csv(files[14])
World_Happiness_Report_2015_2021_2018 = pd.read_csv(files[15])
World_Happiness_Report_2015_2021_2019 = pd.read_csv(files[16])
World_Happiness_Report_2015_2021_2020 = pd.read_csv(files[17])
World_Happiness_Report_2015_2021_2021 = pd.read_csv(files[18])

In [13]:
World_Happiness_Report_2015_2021_2021

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [73]:
# def create_connection(db_file):
#     """ create a database connection to a SQLite database """
#     conn = None
#     try:
#         conn = sqlite3.connect(db_file)
#         print(sqlite3.version)
#     except Error as e:
#         print(e)
#     finally:
#         if conn:
#             conn.close()


# if __name__ == '__main__':
#     create_connection(r"./pythonsqlite.db")

In [72]:
# cur = conn.cursor()
# cur.execute('''SELECT * FROM Life_Expectancy_Data''').fetchall()

In [74]:
# pd.read_sql('''SELECT * FROM Life_Expectancy_Data''', conn)

In [71]:
# pd.read_sql('''SELECT * FROM Life_Expectancy_Data PARTITION BY HASH(Country) PARTITIONS 4''', conn)

In [75]:
# len(Life_Expectancy_Data)//3

In [76]:
# Life_Expectancy_Data[:len(Life_Expectancy_Data)//3]

In [77]:
# Life_Expectancy_Data[len(Life_Expectancy_Data)//3:len(Life_Expectancy_Data)//3*2]

In [78]:
# Life_Expectancy_Data[len(Life_Expectancy_Data)//3*2:len(Life_Expectancy_Data)]

In [60]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    create_connection(r"./test.db")

2.6.0

In [ ]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
Life_Expectancy_Data.to_sql('Life_Expectancy_Data', conn, if_exists='append', index = False)
# conn.commit()
cur.close()

In [62]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
for i in files:
    casedf = pd.read_csv(i)
    #equal length partition
    casedf_p1 = casedf[:len(casedf)//3]
    casedf_p2 = casedf[len(casedf)//3:len(casedf)//3*2]
    casedf_p3 = casedf[len(casedf)//3*2:len(casedf)]
    
    file_name = i.split('\\')[-1]
    file_name = file_name.split('.')[0]
    file_name_p1 = file_name + '_p1'
    file_name_p2 = file_name + '_p2'
    file_name_p3 = file_name + '_p3'
    
#     casedf_p1.to_csv(file_name_p1 + '.csv')
#     casedf_p2.to_csv(file_name_p2 + '.csv')
#     casedf_p3.to_csv(file_name_p3 + '.csv')
    
    casedf_p1.to_sql(file_name_p1, conn, if_exists='append', index = False)
    cur.close()
    casedf_p2.to_sql(file_name_p2, conn, if_exists='append', index = False)
    cur.close()
    casedf_p3.to_sql(file_name_p3, conn, if_exists='append', index = False)
    cur.close()

In [63]:
pd.read_sql('''SELECT * FROM survey_p2''', conn)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 15:31:40,55,M,United States,ID,No,Yes,Yes,Sometimes,1-5,...,Don't know,Yes,Maybe,No,No,No,No,No,Yes,None
1,2014-08-27 15:32:09,28,male,Germany,None,No,Yes,Yes,Rarely,1-5,...,Very easy,No,No,Yes,Yes,No,No,Yes,No,fwiw I am a co founder of this company and the...
2,2014-08-27 15:32:19,26,M,Uruguay,None,No,No,No,None,26-100,...,Don't know,No,No,Some of them,No,No,Yes,Don't know,No,None
3,2014-08-27 15:32:43,28,Male,New Zealand,None,No,Yes,Yes,Sometimes,6-25,...,Very easy,No,No,Yes,Yes,Yes,Yes,Yes,No,None
4,2014-08-27 15:34:23,32,Male,United Kingdom,None,No,Yes,Yes,Sometimes,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,No,Don't know,No,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,2014-08-28 15:54:35,29,F,United States,CA,No,Yes,Yes,Rarely,100-500,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,None
415,2014-08-28 15:56:47,34,male,United States,TX,No,No,Yes,Sometimes,1-5,...,Don't know,Yes,No,No,No,No,Yes,Don't know,No,None
416,2014-08-28 16:09:35,44,Male,United Kingdom,None,No,Yes,Yes,Sometimes,500-1000,...,Somewhat difficult,Maybe,No,Some of them,Yes,No,Maybe,No,Yes,None
417,2014-08-28 16:17:09,24,female,United States,NY,No,Yes,Yes,Often,6-25,...,Very easy,No,No,Some of them,Yes,No,Yes,No,Yes,None
418,2014-08-28 16:31:00,47,F,United States,PA,No,No,No,None,100-500,...,Very difficult,Yes,Yes,No,No,No,No,No,No,None

In [69]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute('''SELECT name from sqlite_master where type= "table"''').fetchall()
cur.close()

In [70]:
pd.read_sql('''SELECT name from sqlite_master where type= "table"''', conn)

                                                 name
0                                        file_name_p1
1                                        file_name_p2
2                                        file_name_p3
3                             Life Expectancy Data_p1
4                             Life Expectancy Data_p2
5                             Life Expectancy Data_p3
6                   Age-standardized suicide rates_p1
7                   Age-standardized suicide rates_p2
8                   Age-standardized suicide rates_p3
9                              Crude suicide rates_p1
10                             Crude suicide rates_p2
11                             Crude suicide rates_p3
12                                      Facilities_p1
13                                      Facilities_p2
14                                      Facilities_p3
15                                 Human Resources_p1
16                                 Human Resources_p2
17                                 Human Resources_p3
18    mental-and-substance-use-as-share-of-disease_p1
19    mental-and-substance-use-as-share-of-disease_p2
20    mental-and-substance-use-as-share-of-disease_p3
21  prevalence-by-mental-and-substance-use-disorde...
22  prevalence-by-mental-and-substance-use-disorde...
23  prevalence-by-mental-and-substance-use-disorde...
24       prevalence-of-depression-males-vs-females_p1
25       prevalence-of-depression-males-vs-females_p2
26       prevalence-of-depression-males-vs-females_p3
27                           share-with-depression_p1
28                           share-with-depression_p2
29                           share-with-depression_p3
30       share-with-mental-and-substance-disorders_p1
31       share-with-mental-and-substance-disorders_p2
32       share-with-mental-and-substance-disorders_p3
33  share-with-mental-or-substance-disorders-by-se...
34  share-with-mental-or-substance-disorders-by-se...
35  share-with-mental-or-substance-disorders-by-se...
36                                          survey_p1
37                                          survey_p2
38                                          survey_p3
39                                            2015_p1
40                                            2015_p2
41                                            2015_p3
42                                            2016_p1
43                                            2016_p2
44                                            2016_p3
45                                            2017_p1
46                                            2017_p2
47                                            2017_p3
48                                            2018_p1
49                                            2018_p2
50                                            2018_p3
51                                            2019_p1
52                                            2019_p2
53                                            2019_p3
54                                            2020_p1
55                                            2020_p2
56                                            2020_p3
57                                            2021_p1
58                                            2021_p2
59                                            2021_p3

In [44]:
for i in files:
#     print(os.path.splitext(i))
#     print（i）
    x = i.split('\\')[-1]
    x = x.split('.')[0]
    print(x)

Life Expectancy Data
Age-standardized suicide rates
Crude suicide rates
Facilities
Human Resources
mental-and-substance-use-as-share-of-disease
prevalence-by-mental-and-substance-use-disorder
prevalence-of-depression-males-vs-females
share-with-depression
share-with-mental-and-substance-disorders
share-with-mental-or-substance-disorders-by-sex
survey
2015
2016
2017
2018
2019
2020
2021